NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key
NEXT_PUBLIC_ENABLE_CLIENT_AUDIT_LOGS=true
NEXT_PUBLIC_DAVIPLATA_BREB_KEY=3206766574
NEXT_PUBLIC_DAVIPLATA_BREB_PAYMENT_URL=daviplata://pagar?llave={key}&valor={amount}&referencia={code}
GROQ_API_KEY=
GROQ_SECURITY_MODEL=openai/gpt-oss-safeguard-20b
